# Virtual Environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db


#db created
*.db